# ftp config
sftp-config.json

# db config
configuration*
client_secret_107955381732-76nj6f1vg9t2s9v570ikhv1oism00n4r.apps.googleusercontent.com.json
villagedancetheatre-9663598abb13.json

modules/
plugins/
