.jcarousel-container {
	margin: 0 auto;
}

li.jcarousel-item {
	position: relative;
}

li.jcarousel-item img {
	position: absolute;
	height: auto !important;
	top: 50%;
	transform: translateY(-50%);
}

@media (min-width: 80em) {

	.pghero[style*='_top'] {
		background-position: center 10%;
	}
}
