/* sass-lint:disable no-color-literals, no-ids, no-important */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

:root {
	--purple: #9465a9;
	--grey: #3e333b;
	--overlay: rgba(22, 15, 25, 0.4);
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	color: #000000;
	overflow-x: hidden;
	overflow-y: auto;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

a:link,
a:active,
a:visited {
	color: var(--grey);
	text-decoration: none;
}

a:hover {
	color: var(--purple);
	text-decoration: none;
}

ul,
li {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
	margin-bottom: 0.2em;
	line-height: 1.55;
}

h2 {
	font-size: 2em;
}

p {
	max-width: 80rem;
	line-height: 1.55;
}

.ctabtn,
.ctabtn:link,
.ctabtn:active,
.ctabtn:visited,
.ctabtn:focus,
.ctabtn:active:focus,
.callbtn:link,
.callbtn:active,
.callbtn:visited {
	display: inline-block;
	padding: 0.5em 1.2em;
	font-size: 1.2em;
	color: var(--purple);
	background: transparent;
	border: 2px solid var(--purple);
	border-radius: 4px;
	transform: translate3d(0, 0, 0) scale(1.01);
	transition: 250ms transform, 150ms color, 150ms background-color;
	/*font-family: Georgia, 'Times New Roman', Times, serif;*/
	font-style: italic;
}

.ctabtn:active:hover,
.ctabtn:hover {
	color: #fff;
	background: var(--purple);
	border-color: var(--purple);
	transform: translate3d(0, -1px, -10px) scale(1.02);
	box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.2);
}

.ctabtn:active:focus,
.ctabtn:focus {
	transform: translate3d(0, 0, 0) scale(1.01);
	outline: none;
	box-shadow: 0 3px 5px -2px rgba(0, 0, 0, 0.3);
}

#pg-bkgnd {
	position: fixed;
	opacity: 0.5;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#header,
#wrapper {
	position: relative;
	width: 80%;
	max-width: 1500px;
	margin: 0 auto;
	text-align: left;
	background-image: url('../images/backgrounds/flourish_btm.png');
	background-position: center bottom;
	background-color: rgba(255, 255, 255, 0.8);
	background-repeat: repeat-x;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	left: 50%;
	min-height: 5.5em;
	padding: 0.5em 1em 0;
	z-index: 5;
	transform: translateX(-50%);
}

#header nav {
	flex: 1 0 auto;
}

#navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

#header .menu-icon.init span,
#navigation.init {
	transition: 200ms transform, 100ms opacity;
}

#navigation.open {
	transform: translateX(0);
}

.menu-icon {
	position: relative;
	width: 2.5em;
	padding: 2em;
}

.menu-icon span {
	display: block;
	position: absolute;
	width: 2.5em;
	height: 2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--grey);
}

.menu-icon .m1 {
	transform: translate(-50%, calc(-50% - 8px));
}

.menu-icon .m4 {
	transform: translate(-50%, calc(-50% + 8px));
}

.menu-icon.open .m1,
.menu-icon.open .m4 {
	opacity: 0;
	transform: translate(-50%, -50%);
}

.menu-icon.open .m2 {
	transform: translate(-50%, -50%) rotate(45deg);
}

.menu-icon.open .m3 {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.company,
.company-info {
	display: flex;
}

.company {
	flex: 0 1 24em;
	position: relative;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

#footer .company {
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.company > * {
	margin: 0.5em;
}

.company-logo {
	width: 100%;
	margin: 0;
	padding-top: 0.2em;
	z-index: 2;
}

.company-logo svg {
	width: 100%;
}

.company-info {
	flex-flow: row wrap;
	justify-content: center;
	font-weight: 300;
	line-height: 1.5;
	text-align: left;
	color: var(--grey);
	white-space: nowrap;
}

#header .company-info {
	align-self: flex-end;
	margin-top: -1.5em;
}

.company-info span {
	margin: 0.125em;
	margin-left: 1.5em;
}

.company-info span:first-child {
	margin-left: 0;
}

.company-info .phone {
	font-weight: 400;
	font-size: 1.25em;
	margin-left: 0.125em;
	margin-right: 0.5em;
}

.lineitem {
	display: inline-block;
	width: 300px;
	text-align: right;
	border-bottom: 1px solid var(--grey);
}

#sidebar {
	display: none;
	flex: 0 0 14em;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	position: sticky;
	width: 100%;
	top: 2em;
	margin-top: 4.4em;
	padding: 0 0 8px 8px;
	align-self: flex-start;
}

#sidebar .moduletable-facebook {
	margin-top: 2em;
	margin-left: 8px;
	border-top: 1px solid var(--grey);
}

/****NAVIGATION*****/
#navigation li {
	margin: 0;
	text-align: right;
	list-style-type: none;
}

#navigation li.parent {
	flex: 0 1 11em;
}

#navigation .nav-header,
#navigation a:link,
#navigation a:visited,
#navigation a:active {
	display: block;
	padding: 0.2em 12px 0.5em;
	font-size: 1.5em;
	font-weight: 300;
	color: var(--grey);
	text-transform: lowercase;
	text-decoration: none;
}

#navigation .nav-header {
	position: relative;
	font-size: 1.2em;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
}

#navigation .nav-header:hover,
#navigation .nav-header.open,
#navigation a:hover {
	color: var(--purple);
}

#navigation .nav-child {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	min-width: 14em;
	top: 100%;
	right: 0;
	padding: 1em 0;
	background: rgba(255, 255, 255, 0.95);
	box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
	transform: translateY(2em);
	transition: 0s visibility 1s, 300ms transform, 200ms opacity;
	pointer-events: none;
}

#navigation .nav-child:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 2.5em;
	width: 2em;
	height: 2em;
	border: 1em solid transparent;
	border-bottom-color: rgba(255, 255, 255, 0.95);
	transform: translateY(-95%);
}

#navigation .nav-header.open + .nav-child {
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
	transition-delay: 0s, 0s, 0s;
	pointer-events: auto;
}

#navigation ul li ul li a:link,
#navigation  ul li ul li a:visited,
#navigation  ul li ul li a:active {
	font-size: 1.5em;
}

#mainContent {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	width: 100%;
	min-height: 90vh;
	background: rgba(255, 255, 255, 0.666);
}

#mainContent #header {
	height: 120px;
	background: url('../images/backgrounds/flourish_top.png') repeat-x;
}

#mainContent h1 {
	display: inline-block;
	padding: 4px 8px;
	font-size: 2em;
	font-weight: normal;
	color: var(--purple);
	font: 2.5em Georgia, 'Times New Roman', Times, serif;
	text-transform: uppercase;
}

#mainContent h2 {
	font-size: 2em;
	font-weight: 300;
	color: var(--purple);
}

#mainContent h3 {
	margin-bottom: 0.5em;
	font-size: 1.2em;
	font-weight: normal;
	color: var(--purple);
}

#mainContent h4 {
	margin: 0 0 0 1em;
	color: var(--grey);
	font: 1em bold Helvetica, Arial, sans-serif;
}

#mainContent img {
	display: block;
}

#mainContent p {
	font-size: 1.15em;
	color: #333;
}

#mainContent .contentheading,
#mainContent .contentheading_classes {
	width: 800px;
	padding-bottom: 3px;
	font-size: 2em;
	color: var(--grey);
	border-bottom: 1px solid #CCC;
}

.pghero {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 24em;
	background: transparent center center no-repeat;
	background-size: cover;
}

.pghero[style*='_top'] {
	background-position: center top;
}

.pghero[style*='_btm'] {
	background-position: center bottom;
}

.pghero:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, transparent 20%, #fff 100%);
}

#footer {
	margin: 5px 0 30px;
	text-align: center;
	color: var(--grey);
}

.page-header {
	padding: 0 0.5em;
	margin: -2.2em auto 0.5em;
	max-width: 80rem;
	width: 100%;
	font-size: 2em;
	z-index: 2;
}

.blog .page-header {
	font-size: 1.2em;
	max-width: 80rem;
	margin-top: 1em;
}

.page-header h2 {
	margin: 0;
	line-height: 1.1;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

[itemprop='articleBody'],
.blog {
	position: relative;
	padding: 1em 1em 3em;
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
}

[itemprop='articleBody'] {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.item-page {
	display: flex;
	flex: 1;
	flex-flow: column;
	justify-content: normal;
}

ul.nav.menu.open {
	max-height: calc(90vh - 3em);
}

ul.nav-child.unstyled.small li {
	padding-right: 0 !important;
}

@media only screen and (min-width: 981px) {

	#pg-bkgnd {
		background-image: url('/images/stories/atthebarre-landscape-BW_2000x575.jpg');
		background-size: cover;
		background-position: center center;
	}
}

@media only screen and (max-width: 980px) {

	#header,
	#wrapper {
		width: 100%;
	}
}

@media only screen and (min-width: 681px) {

	#header .menu-icon {
		display: none;
	}

	#sidebar {
		display: flex;
	}
}

@media only screen and (max-width: 680px) {

	#header,
	#wrapper {
		width: 100%;
	}

	#header {
		position: fixed;
		top: 0;
		padding: 0.5em 1.5em 0.5em 1em;
		z-index: 2;
	}

	#header nav {
		position: absolute;
		width: auto;
		top: 100%;
		bottom: auto;
		right: 0;
		overflow: hidden;
		pointer-events: none;
		z-index: 20;
	}

	#navigation {
		flex-flow: column nowrap;
		padding-top: 1em;
		padding-left: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		border-left: 1px solid rgba(0, 0, 0, 0.1);
		transform: translateX(100%);
		pointer-events: auto;
		background-color: rgba(255, 255, 255, 0.95);
	}

	#navigation li {
		text-align: left
	}

	#navigation li.parent {
		width: 14em;
	}

	#navigation .nav-child {
		position: relative;
		padding-top: 0;
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition-delay: 0s, 0s, 0s;
		pointer-events: auto;
		background: transparent;
		box-shadow: none;
	}

	#navigation .nav-child:before {
		display: none;
	}

	#navigation .nav-header:hover {
		color: var(--grey);
		cursor: auto;
	}

	#navigation a:link,
	#navigation a:active,
	#navigation a:visited {
		padding: 0.5em 1.5em;
	}

	#header .company-info {
		display: none;
	}

	#mainContent img {
		width: 100%;
	}

	[itemprop='blogPost'] img {
		float: none !important;
	}

	.hpheader .ctabtn {
		display: none;
	}

	.hpheader .callbtn {
		display: block;
	}
}
