.registration .custom-form {
	position: relative;
	min-width: 20em;
	margin: 2em auto;
}

form {
	display: flex;
	flex-flow: column nowrap;
}

form.sending:after {
	content: '';
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
	bottom: -5px;
	right: -5px;
	background: rgba(255, 255, 255, 0.7);
	z-index: 3;
}

fieldset {
	position: relative;
}

label {
	font-size: 1em;
	font-weight: 300;
}

legend {
	margin: 1em 0 0.8em;
	color: var(--purple);
	font-size: 1.1em;
	font-weight: bold;
}

.add-child-form,
.remove-child-form {
	float: right;
	font-size: 0.9em;
	opacity: 0.8;
	transition: 200ms opacity;
}

.add-child-form {
	margin: 0 auto 1em;
	padding: 0.5em 1em;
	color: var(--purple) !important;
	text-align: center;
}

.remove-child-form {
	position: absolute;
	top: 0;
	right: 0;
}

fieldset:first-of-type .remove-child-form {
	display: none;
}

.add-child-form:hover,
.remove-child-form:hover {
	opacity: 1;
}

.form > .form-group:last-child {
	margin-top: 2em;
}

.checkbox label,
.radio label {
	font-weight: 300;
}

button[type='submit'],
button[type='submit'][disabled]:hover,
button[type='submit'][disabled]:active:hover {
	color: #fff;
	background-color: var(--purple);
	border: 2px solid  var(--purple);
}

button[type='submit']:not([disabled]):hover {
	color: var(--purple);
	background-color: #fff;
	border-color: var(--purple);
}

.form .alert {
	position: absolute;
	width: 90%;
	max-width: 36em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	z-index: 4;
}

.form .alert.alert-success,
.form .alert.alert-warning {
	visibility: visible;
}

.form .alert h3,
.form .alert p {
	margin-top: 0;
	color: rgba(0, 0, 0, 0.7) !important;
}

.form .alert h3 {
	font-weight: bold !important;
}

.form .alert a {
	color: rgb(130, 65, 0);
	opacity: 0.8;
	text-decoration: underline;
}

.form .alert a.close {
	float: none;
	font-size: 1em;
	font-weight: normal;
}

.form .alert a:hover {
	opacity: 1;
}
