<form class="form form-horizontal" name="inquiry-form" action="/inquiry.php" method="POST">

	<div class="form-group">
		<label for="inputName" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" name="inputName" class="form-control" placeholder="First Last" required>
		</div>
	</div>

	<div class="form-group">
		<label for="inputEmail" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" name="inputEmail" placeholder="you@example.com" required>
		</div>
	</div>

	 <div class="form-group">
		<label for="inputPhone" class="col-sm-2 control-label">Phone</label>
		<div class="col-sm-10">
			<input type="tel" class="form-control" name="inputPhone" placeholder="555-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
		</div>
	</div>

	<fieldset>

		<legend>
			Child 1
		</legend>
		<a class="remove-child-form" href="#remove" >&cross; Remove</a>
		<div class="form-group">
			<label for="inputChild1Age" class="col-sm-2 control-label">Age</label>
			<div class="col-sm-3">
				<input type="number" min=5 step=1 class="form-control" name="inputChild1Age" >
			</div>
			<label for="inputChild1Level" class="col-sm-2 col-sm-offset-1 control-label">Level</label>
			<div class="col-sm-4">
				<select name="inputChild1Level" class="form-control" placeholder="Ballet Level">
					<option>Pre-Ballet</option>
					<option>Beginner</option>
					<option>Intermediate</option>
					<option>Advanced</option>
				</select>
			</div>
		</div>

	</fieldset>

	<a class="add-child-form" href="#add"><em> &plus; Add child</em></a>



	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-6">
			<button type="submit" class="btn btn-block btn-default">Send Inquiry</button>
		</div>
	</div>
</form>

<script>
(function($) {
	'use strict';
	var childNum = 1;
	$('.add-child-form').on('click', function(e) {
		e.preventDefault();
		childNum++;
		$(this).prev('fieldset')
			.clone(true, true)
			.find('legend').text('Child ' + childNum).end()
			.find('label').attr('for', function() {
				return $(this).attr('for').replace(/\d+/, childNum);
			}).end()
			.find('input, select').attr('name', function() {
				return $(this).attr('name').replace(/\d+/, childNum);
			}).val('').end()
			.insertBefore(this);
	});
	$('.remove-child-form').on('click', function(e) {
		e.preventDefault();
		childNum = 0;
		$(this).closest('fieldset').remove();
		$('fieldset').each(function(i) {
			childNum++;
			$(this)
				.find('legend').text('Child ' + childNum).end()
				.find('label').attr('for', function() {
					return $(this).attr('for').replace(/\d+/, childNum);
				}).end()
				.find('input, select').attr('name', function() {
					return $(this).attr('name').replace(/\d+/, childNum);
				});
		});
	});
	$('[name="inquiry-form"]').on('submit', function(e) {
		e.preventDefault();
		$.post(this.action, $(this).serialize())
			.then(function(response) {
					console.log(response);
			});
	});
}(jQuery));
</script>
