<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<form
  class="form form-horizontal"
  name="inquiry-form"
  action="/inquiry.php"
  method="POST"
>
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input
        type="text"
        id="inputName"
        name="inputName"
        class="form-control"
        placeholder="First Last"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        name="inputEmail"
        placeholder="you@example.com"
        required
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-10">
      <input
        type="tel"
        class="form-control"
        id="inputPhone"
        name="inputPhone"
        placeholder="555-555-5555"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <label for="inputReferral" class="control-label"
        >How did you hear about us?</label
      >
      <input
        type="text"
        class="form-control"
        id="inputReferral"
        name="inputReferral"
      />
    </div>
  </div>

  <!-- <div class="form-group">
		<div class="col-sm-10 col-sm-offset-2 checkbox">
			<label for="inputClassVisit">
				<input type="checkbox" id="inputClassVisit" name="inputClassVisit" value="Yes">
				I'm interested in visiting class
			</label>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2 checkbox">
			<label for="inputPerfVisit">
				<input type="checkbox" id="inputPerfVisit" name="inputPerfVisit" value="Yes">
				I'm interested in seeing an upcoming performance
			</label>
		</div>
	</div> -->

  <!-- <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2 checkbox">
      <label for="inputStudioClass">
        <input
          type="checkbox"
          id="inputStudioClass"
          name="inputStudioClass"
          value="Yes"
        />
        I'm looking for In-Studio classes
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2 checkbox">
      <label for="inputZoomClass">
        <input
          type="checkbox"
          id="inputZoomClass"
          name="inputZoomClass"
          value="Yes"
        />
        I'm looking for Video classes via Zoom
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2 checkbox">
      <label for="inputHybridClass">
        <input
          type="checkbox"
          id="inputHybridClass"
          name="inputHybridClass"
          value="Yes"
        />
        I'm open to a combination of In-Studio and Video/Zoom classes
      </label>
    </div>
  </div> -->

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2 checkbox">
      <label for="inputSummerClass">
        <input
          type="checkbox"
          id="inputSummerClass"
          name="inputSummerClass"
          value="Yes"
        />
        I'm interested in Summer Classes
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2 checkbox">
      <label for="inputFallRegistration">
        <input
          type="checkbox"
          id="inputFallRegistration"
          name="inputFallRegistration"
          value="Yes"
        />
        I'm interested in Fall Registration
      </label>
    </div>
  </div>

  <fieldset>
    <legend>Child 1</legend>
    <a class="remove-child-form" href="#remove">&cross; Remove</a>
    <div class="form-group">
      <label for="inputChild1Name" class="col-sm-2 control-label">Name</label>
      <div class="col-sm-3">
        <input
          type="text"
          class="form-control"
          id="inputChild1Name"
          name="inputChild1Name"
        />
      </div>
      <label for="inputChild1Age" class="col-sm-1 control-label">Age</label>
      <div class="col-sm-2">
        <input
          type="number"
          min="5"
          step="1"
          class="form-control"
          id="inputChild1Age"
          name="inputChild1Age"
        />
      </div>
      <label for="inputChild1Level" class="col-sm-1 control-label">Level</label>
      <div class="col-sm-3">
        <select
          id="inputChild1Level"
          name="inputChild1Level"
          class="form-control"
          placeholder="Ballet Level"
        >
          <option>Pre-Ballet</option>
          <option>Beginner</option>
          <option>Intermediate</option>
          <option>Advanced</option>
        </select>
      </div>
    </div>
  </fieldset>
  <a class="add-child-form" href="#add"><em> &plus; Add child</em></a>
  <div class="form-group">
    <label for="inputNotes" class="col-sm-2 control-label">Other Notes</label>
    <div class="col-sm-10">
      <textarea
        id="inputNotes"
        name="inputNotes"
        class="form-control"
        rows="6"
        placeholder="Any additional questions or comments..."
      ></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <div
        id="registration-captcha"
        class="g-recaptcha"
        data-sitekey="6LcWfbIUAAAAAAUZF5PQf5HUIQ1QqCqOAC9UnMIf"
        data-theme="light"
        data-size="normal"
      >
        &nbsp;
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <button type="submit" class="btn ctabtn btn-block btn-default">
        Send Inquiry
      </button>
    </div>
  </div>
  <div class="alert text-center">
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</form>
