@charset "utf-8";

body {
    font: 100% Helvetica, Verdana, Arial, sans-serif;
    margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
    text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    color: #000000;
    /* background: url(../images/backgrounds/bkgnd.png) repeat fixed; */
}

.main #wrapper {
    /* width: 80%; */  /* this will create a container 80% of the browser width */
    max-width: 1500px;
    background: url(../images/backgrounds/flourish_btm.png) repeat-x bottom;
    margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
    /* padding-top: 20px; */
    /* border: 2px solid #EB94EB; */
    text-align: left; /* this overrides the text-align: center on the body element. */
    -moz-box-shadow: 0 5px 10px #888;
    /* -webkit-box-shadow: 0 5px 10px #888; */
    /* box-shadow: 0 5px 10px #888; */
    display: flex;
    position: relative;
    flex-flow: column;
}

/* Tips for sidebar1:

1. Since we are working in relative units, it's best not to use padding on the sidebar. It will be added to the overall width for standards compliant browsers creating an unknown actual width.

2. Since em units are used for the sidebar value, be aware that its width will vary with different default text sizes.

3. Space between the side of the div and the elements within it can be created by placing a left and right margin on those elements as seen in the ".twoColHybLt #sidebar1 p" rule.

*/
.main #sidebar1 {
    float: left;
    flex: 0 1 auto; /* since this element is floated, a width must be given */
    padding: 8px 0 8px 8px; /* top and bottom padding create visual space within this div  */
    text-align: right;
    position: relative;
    /* min-height: 830px; */
    display: flex;
}

.main #sidebar1 h3,
.main #sidebar1 p {
    margin-left: 10px; /* the left and right margin should be given to every element that will be placed in the side columns */
    margin-right: 10px;
}

.main #sidebar1 .moduletable_fb {
    margin-left: 8px;
    margin-top: 2em;
    border-top: 1px solid #858585;
}

/* Tips for mainContent:

1. The space between the mainContent and sidebar1 is created with the left margin on the mainContent div.  No matter how much content the sidebar1 div contains, the column space will remain. You can remove this left margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends.

2. Be aware it is possible to cause float drop (the dropping of the non-floated mainContent area below the sidebar) if an element wider than it can contain is placed within the mainContent div. WIth a hybrid layout (percentage-based overall width with em-based sidebar), it may not be possible to calculate the exact width available. If the user's text size is larger than average, you will have a wider sidebar div and thus, less room in the mainContent div. You should be aware of this limitation - especially if the client is adding content with Contribute.

3. In the Internet Explorer Conditional Comment below, the zoom property is used to give the mainContent "hasLayout." This may help avoid several IE-specific bugs.

*/
.main #mainContent {
    /* margin: 0 20px 0.5em 13em; */ /* the right margin can be given in percentages or pixels. It creates the space down the right side of the page. */
    padding: 3em 2em 2em;
    background: url(https://voice.google.com/u/0/a/i/e48924975b54b7c40538af2179d6a9f3ce7c5cac-1?s=1) top right -100%;
    min-height: 880px;
    background-size: cover;
}

/* Miscellaneous classes for reuse */
.fltrt {

    /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */

    float: right;
    margin-left: 8px;
}

.fltlft {

    /* this class can be used to float an element left in your page */

    float: left;
    margin-right: 8px;
}

.clearfloat {

    /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */

    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

.lineitem {
    text-align: right;
    display: inline-block;
    width: 300px;
    border-bottom: 1px solid #858585;
}

.main #sidebar1 #logo img {
    padding-right: 10px;
    border-right: 1px solid #8a8a8a;
}

.main #wrapper #sidebar1 #logo p {
    font: lighter 0.8em Helvietica-Light, Helvetica Light, Helvetica, Arial, sans-serif;
    color: #858585;
    /* margin-top: 5px; */
    text-align: left;
}

/****NAVIGATION*****/
.main #sidebar1 #navigation li {
    list-style-type: none;
    margin: 0;
    line-height: 0.8;
    padding: 4px 16px 8px;
}

.main #sidebar1 #navigation a:link,
.main #sidebar1 #navigation a:visited,
.main #sidebar1 #navigation a:active {
    font: lighter 2em Helvetica-Light, Helvetica Light, Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    color: #858585;
    text-decoration: none;
    font-size: 1.5em;
}

.main #sidebar1 #navigation ul li ul li a:link,
.main #sidebar1 #navigation  ul li ul li a:visited,
.main #sidebar1 #navigation  ul li ul li a:active {
    font-size: 1.5em;
}

.main #sidebar1 #navigation a:hover {

    /*font-weight: bold;*/

    color: #EB94EB;
}

.main #mainContent #header {
    background: url(../images/backgrounds/flourish_top.png) repeat-x;
    height: 120px;
}

.main #mainContent h1 {
    font: 2.5em Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    /* font-style: italic; */
    color: #9465A9;
    text-transform: uppercase;
    font-size: 2em;
    background: black;
    display: inline-block;
    padding: 4px 8px;
}

.main #mainContent h2 {
    font: 1.5em lighter Helvetica-Light, Helvetica Light, Helvetica, Arial, sans-serif;
    color: #9465A9;
    margin-bottom: 0;
}

.main #mainContent h3 {
    font: 1.2em Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-style: italic;
    color: #EB94EB;
    margin: 0;
}

.main #mainContent h4 {
    font: 1em bold Helvetica, Arial, sans-serif;
    color: #858585;
    margin: 0 0 0 1em;
}

.main #mainContent img {
    border: 2px solid #FFF;
    -moz-box-shadow: 5px 5px 10px #888;
    -webkit-box-shadow: 5px 5px 10px #888;
    box-shadow: 5px 5px 10px #888;
}

.main #banner {
    margin: 0;
    padding: 0 2em;
    background: url(../images/backgrounds/flourish_top.png) repeat-x;
    /* height: 120px; */
    /* top: 0; */
    /* left: 8em; */
    /* bottom: 0; */
    background-size: auto 60%;
    background-position: top right -1650px;
    /* width: 80em; */
    transition: background-position 40s;
}

.main #mainContent p {
    font: 1em Georgia, "Times New Roman", Times, serif;
    color: #333;
    text-indent: 1em;
    margin-top: 1ex;
}

.main #mainContent .componentheading {
    font: 2.5em normal Georgia, "Times New Roman", Times, serif;
    color: #EB94EB;
    position: relative;
    top: -0.8em;
}

.main #mainContent .contentheading,
.main #mainContent .contentheading_classes {
    font: 2em Helvetica-Light, Helvetica, Arial, sans-serif;
    color: #858585;
    width: 800px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 3px;
}

a:link,
a:active,
a:visited {
    color: #858585;
    text-decoration: none;
}

a:hover {
    color: #EB94EB;
    text-decoration: none;
}

#footer {
    font: 0.8em Helvetica-Light, Helvetica, Arial, sans-serif;
    color: #858585;
    margin: 5px 0 30px;
}

.main #banner.scrolling {
    background-position: top right -50px;
}

[itemprop='articleBody'] {
    background: rgba(255,255,255,0.666);
    padding: 1em;
    flex: 0 1 auto;
    margin-top: auto;
}

.item-page {
    display: flex;
    flex-flow: column;
    justify-content: normal;
    height: calc(100vh - 20em);
}

ul.nav.menu.open {
    max-height: calc(90vh - 3em);
}

ul.nav-child.unstyled.small  li {
    padding-right: 0 !important;
}