    margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
    text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    color: #000000;
    background: url(../images/backgrounds/bkgnd.png) repeat fixed;
    /* background: url(../images/backgrounds/bkgnd.png) repeat fixed; */
}

.main #wrapper {
    width: 80%;  /* this will create a container 80% of the browser width */
    min-width: 700px;
    background: #FFFFFF;
    margin: 30px auto 0; /* the auto margins (in conjunction with a width) center the page */
    padding-top: 20px;
    border: 2px solid #EB94EB;
    /* width: 80%; */  /* this will create a container 80% of the browser width */
    max-width: 1500px;
    background: url(../images/backgrounds/flourish_btm.png) repeat-x bottom;
    margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
    /* padding-top: 20px; */
    /* border: 2px solid #EB94EB; */
    text-align: left; /* this overrides the text-align: center on the body element. */
    -moz-box-shadow: 0 5px 10px #888;
    -webkit-box-shadow: 0 5px 10px #888;
    box-shadow: 0 5px 10px #888;
    /* -webkit-box-shadow: 0 5px 10px #888; */
    /* box-shadow: 0 5px 10px #888; */
    display: flex;
    position: relative;
    flex-flow: column;
}

/* Tips for sidebar1:
( … Skipping 7 matching lines … )

*/
.main #sidebar1 {
    float: left;
    width: 12em; /* since this element is floated, a width must be given */
    padding: 0 0 15px; /* top and bottom padding create visual space within this div  */
    flex: 0 1 auto; /* since this element is floated, a width must be given */
    padding: 8px 0 8px 8px; /* top and bottom padding create visual space within this div  */
    text-align: right;
    position: relative;
    min-height: 830px;
    /* min-height: 830px; */
    display: flex;
}

.main #sidebar1 h3,
( … Skipping 18 matching lines … )
3. In the Internet Explorer Conditional Comment below, the zoom property is used to give the mainContent "hasLayout." This may help avoid several IE-specific bugs.

*/
.main #mainContent {
    margin: 0 20px 0.5em 13em; /* the right margin can be given in percentages or pixels. It creates the space down the right side of the page. */
    padding: 0 2em 2em;
    background: url(../images/backgrounds/flourish_btm.png) repeat-x bottom;
    min-height: 710px;
    /* margin: 0 20px 0.5em 13em; */ /* the right margin can be given in percentages or pixels. It creates the space down the right side of the page. */
    padding: 3em 2em 2em;
    background: url(https://voice.google.com/u/0/a/i/e48924975b54b7c40538af2179d6a9f3ce7c5cac-1?s=1) top center;
    min-height: 880px;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* Miscellaneous classes for reuse */
( … Skipping 31 matching lines … )
    border-bottom: 1px solid #858585;
}

.main #sidebar1 #logo img {
    padding-bottom: 10px;
    border-bottom: 1px solid #8a8a8a;
    padding-right: 10px;
    border-right: 1px solid #8a8a8a;
}

.main #wrapper #sidebar1 #logo p {
    font: lighter 0.8em Helvietica-Light, Helvetica Light, Helvetica, Arial, sans-serif;
    color: #858585;
    margin-top: 5px;
    /* margin-top: 5px; */
    text-align: left;
}

/****NAVIGATION*****/
.main #sidebar1 #navigation li {
    list-style-type: none;
    margin: 0;
    line-height: 0.8;
    padding: 4px 16px 8px;
}

.main #sidebar1 #navigation a:link,
( … Skipping 3 matching lines … )
    font: lighter 2em Helvetica-Light, Helvetica Light, Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    color: #858585;
    text-decoration: none;
    font-size: 1.5em;
}

.main #sidebar1 #navigation ul li ul li a:link,
( … Skipping 15 matching lines … )
    height: 120px;
}

.main #mainContent h1 {
    font: 2.5em Apple Chancery, Georgia, "Times New Roman", Times, serif;
    font: 2.5em Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    font-style: italic;
    /* font-style: italic; */
    color: #9465A9;
    text-transform: uppercase;
    font-size: 2em;
    background: black;
    display: inline-block;
    padding: 4px 8px;
}

.main #mainContent h2 {
( … Skipping 24 matching lines … )
    box-shadow: 5px 5px 10px #888;
}

.main #banner {
    margin: 0 20px 0 13em;
    margin: 0;
    padding: 0 2em;
    background: url(../images/backgrounds/flourish_top.png) repeat-x;
    height: 120px;
    /* height: 120px; */
    /* top: 0; */
    /* left: 8em; */
    /* bottom: 0; */
    background-size: auto 60%;
    background-position: top right -1650px;
    /* width: 80em; */
    transition: background-position 40s;
}

.main #mainContent p {